<!DOCTYPE html>
<html>
  <head>
    <title>Don't Frame Me Bro</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  <body>
  	<div class="demo-headline">
  	<h4 class="demo-logo">Don't Frame Me, Bro</h4>
  	<small class="logo">If your page is displayed below, then it is frameable - Standard iFrame</small>
  </div>
   <center><iframe src="<%= url %>" height="1024" width="800"></iframe>
  </center>
  </body>
</html>